
<%- include("./include/header.ejs") %>

    
     <!--  ************************* Page Title Starts Here ************************** -->
        <div class="page-nav row">
            <div class="container">
                <div class="row">
                    <h2>Our Services</h2>
                    <ul>
                        <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                        <li><i class="fas fa-angle-double-right"></i> Our Services</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- ######## Page  Title End ####### -->

    <!--*************** Our Services Starts Here ***************-->


    <section class="our-service container-fluid">
        <div class="container">
            
            <div class="col-sm-12 blog-cont">
                <div class="row no-margin">
                    <div class="col-lg-4 col-md-6 blog-smk">
                        <div class="blog-single">

                            <img src="assets/images/services/service-1.jpg" alt="">

                            <div class="blog-single-det">

                                <h6>Deperssion</h6>

                                <a href="blog_single.html">
                                    <button class="btn btn-primary ">More Detail</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 blog-smk">
                        <div class="blog-single">

                            <img src="assets/images/services/service-2.jpg" alt="">

                            <div class="blog-single-det">

                                <h6>Anxity</h6>

                                <a href="blog_single.html">
                                    <button class="btn btn-primary ">More Detail</button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 blog-smk">
                        <div class="blog-single">

                            <img src="assets/images/services/service-3.jpg" alt="">

                            <div class="blog-single-det">

                                <h6>Relationship Issue</h6>

                                <a href="blog_single.html">
                                    <button class="btn btn-primary">More Detail</button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 blog-smk">
                        <div class="blog-single">

                            <img src="assets/images/services/s1.jpg" alt="">

                            <div class="blog-single-det">

                                <h6>Relationship Issue</h6>

                                <a href="blog_single.html">
                                    <button class="btn btn-primary">More Detail</button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 blog-smk">
                        <div class="blog-single">

                            <img src="assets/images/services/s2.jpg" alt="">

                            <div class="blog-single-det">

                                <h6>Paediatric Issue</h6>

                                <a href="blog_single.html">
                                    <button class="btn btn-primary">More Detail</button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 blog-smk">
                        <div class="blog-single">

                            <img src="assets/images/services/service-2.jpg" alt="">

                            <div class="blog-single-det">

                                <h6>Neurology Issue</h6>

                                <a href="blog_single.html">
                                    <button class="btn btn-primary">More Detail</button>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
    
    
    
  
        
   


        <%- include("./include/footer.ejs") %>